html {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  min-height: 100%;
}

#message {
  animation: ome-nosekine-kara 1s infinite;
}

@keyframes ome-nosekine-kara {
  from { color: tomato; transform: scale(1); }
  to { color: skyblue; transform: scale(2); }
}